# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
# folders
utils/

# Streamlit temporary files
.streamlit/

# OS files
.DS_Store

# Python environment files
*.env
*.venv

# Jupyter Notebook checkpoints (caso use algum dia)
.ipynb_checkpoints/

# VSCode settings (caso use)
.vscode/

# User credentials / data files
users.json
named_filters.json 
# Adicione outros arquivos de dados sensíveis ou gerados aqui

